---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
const { limit } = Astro.props;

let artigos = await getCollection("artigos", ({ data }) => !data.draft);
artigos = artigos.sort(
  (a, b) =>
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime(),
);

if (typeof limit === "number") {
  artigos = artigos.slice(0, limit);
}

// Função para formatar data no formato dd-mm-aaaa
export function formatarData(pubDate: string): string {
  const data = new Date(pubDate);
  const dia = String(data.getDate()).padStart(2, "0");
  const mes = String(data.getMonth() + 1).padStart(2, "0");
  const ano = data.getFullYear();
  return `${dia}/${mes}/${ano}`;
}
---

<section id="post-list">
  <slot />
  <article class="flex flex-col gap-2">
    {
      artigos.map((p) => (
        <a href={`/artigos/${p.slug}`} class="flex w-full min-w-0 gap-x-4">
          <div class="w-[52px] h-[52px] overflow-hidden rounded-sm">
            <Image
              src={p.data.heroImage}
              alt={p.data.title}
              class="object-cover w-full h-full"
            />
          </div>
          <div class="flex flex-col">
            <p class="">{p.data.title}</p>
            <p class="text-sm text-neutral-400">
              {formatarData(p.data.pubDate)}
            </p>
          </div>
        </a>
      ))
    }
  </article>
</section>
